<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<a href="index.html">返回首页</a>
<div class="alert alert-warning">TIPS:每个标签标示一个vcm工程，展开后是具体的environment</div>
<div>
    <ul class="list-group">
        <li style="color: #18e65c;background-color: white;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;" class="list-group-item">
            <span style="background-color: black;font-family: Georgia, 'Times New Roman', Times, serif;color: white;" class="badge">
                {% if summary.testcase_total == 0 %}
                    0
                {% else %}
                    {{ (summary.testcase_hit/summary.testcase_total*100)|round(2) }}%
                {% endif %}
            </span>
            testcases: {{ summary.testcase_hit }}/{{ summary.testcase_total }}
        </li>
        <li style="background-color: white;color: #ec0d84dc;font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif" class="list-group-item">
            <span style="background-color: black;font-family: Georgia, 'Times New Roman', Times, serif;color: white;" class="badge">
                {% if summary.statement_total == 0 %}
                    0
                {% else %}
                    {{ (summary.statement_hit/summary.statement_total*100)|round(2) }}%
                {% endif %}
            </span>
            statements: {{ summary.statement_hit }}/{{ summary.statement_total }}
        </li>
        <li style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;background-color: white;color: rgb(255, 166, 0);" class="list-group-item">
            <span style="background-color: black;font-family: Georgia, 'Times New Roman', Times, serif;color: white;" class="badge">
                {% if summary.branch_total == 0 %}
                    0
                {% else %}
                    {{ (summary.branch_hit/summary.branch_total*100)|round(2) }}%
                {% endif %}
            </span>
            branches: {{ summary.branch_hit }}/{{ summary.branch_total }}
        </li>
        <li style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;background-color: white;color: rgb(255, 0, 200);" class="list-group-item">
            <span style="background-color: black;font-family: Georgia, 'Times New Roman', Times, serif;color: white;" class="badge">
                {% if summary.pairs_total == 0 %}
                    0
                {% else %}
                    {{ (summary.pairs_hit/summary.pairs_total*100)|round(2) }}%
                {% endif %}
            </span>
            pairs: {{ summary.pairs_hit }}/{{ summary.pairs_total }}
        </li>
        <li style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;background-color: white;color: rgb(0, 81, 255);" class="list-group-item">
            <span style="background-color: rgb(0, 0, 0);font-family: Georgia, 'Times New Roman', Times, serif;color: white;" class="badge">
                {% if summary.function_total == 0 %}
                    0
                {% else %}
                    {{ (summary.function_hit/summary.function_total*100)|round(2) }}%
                {% endif %}
            </span>
            function: {{ summary.function_hit }}/{{ summary.function_total }}
        </li>
    </ul>
</div>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    {% for project in projects | sort(attribute='name') %}
        <div style="font-style:inherit;font-family: Verdana, Geneva, Tahoma, sans-serif;" class="panel panel-default">
            <div class="panel-heading" >
                <h4 class="panel-title">
                    {% if project.testcase_total == project.testcase_hit %}
                        <a style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;color: #588cca" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse_{{ loop.index }}"
                        class="side-nav-project project-title collapsed">
                            {{ project.name }}&nbsp;&nbsp;&nbsp;
                        </a>
                    {% else %}
                        <a style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;color: #f70e0e" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse_{{ loop.index }}"
                        class="side-nav-project project-title collapsed">
                            {{ project.name }}&nbsp;&nbsp;&nbsp;
                        </a>
                    {% endif %}
                    <span style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
                        Statement Coverage:&nbsp;&nbsp;
                        {% if project.statement_total == 0 %}
                        0
                        {% else %}
                        {{ (project.statement_hit/project.statement_total*100)|round(2) }}%
                        {% endif %}&nbsp;&nbsp;
                    </span>
                    <span style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
                        Pairs Coverage:&nbsp;&nbsp;
                        {% if project.pairs_total == 0 %}
                        0
                        {% else %}
                        {{ (project.pairs_hit/project.pairs_total*100)|round(2) }}%
                        {% endif %}&nbsp;&nbsp;
                    </span>
                    <span style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
                        Function Coverage:&nbsp;&nbsp;
                        {% if project.function_total == 0 %}
                        0
                        {% else %}
                        {{ (project.function_hit/project.function_total*100)|round(2) }}%
                        {% endif %}&nbsp;&nbsp;
                    </span>
                    <span class="pull-right"><a href="{{ project.relative_url }}">查看详情</a></span>
                    <span style="position:absolute;left: 1000px;font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
                        {{ project.vcmtime }}
                    </span>
                </h4>
            </div>
            <div id="collapse_{{ loop.index }}" class="panel-collapse collapse" >
                <div class="panel-body">
                    <ul>
                        <table style="background-color: white;border: black;" border="1"  cellspacing="0" class="reference">
                        <tbody>
                        <tr>
                                <th style="background-color: #588cca;text-align: center;vertical-align: middle!important;">environment</th>
                                <th style="background-color: #588cca;text-align: center;vertical-align: middle!important;">Testcases</th>		
                                <th style="background-color: #588cca;text-align: center;vertical-align: middle!important;">Statement Coverage</th>
                                <th style="background-color: #588cca;text-align: center;vertical-align: middle!important;">Branch Coverage</th>
                                <th style="background-color: #588cca;text-align: center;vertical-align: middle!important;">Pairs Coverage</th>
                                <th style="background-color: #588cca;text-align: center;vertical-align: middle!important;">Function Coverage</th>
                        </tr>
                        {% for environment in project.environments | sort(attribute='name') %}
                            {% if environment.testcase_hit == environment.testcase_total %}
                            <tr>
                                <td style="vertical-align: middle;text-align: left;"><a href="{{ environment.relative_url }}">{{ environment.name }}</a></td>
                                <td style="vertical-align: middle;text-align: center;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">{{ environment.testcase_hit }}&nbsp;/&nbsp;{{ environment.testcase_total }}</td>		
                                <td style="vertical-align: middle;text-align: center;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">{{ environment.statement_hit }}&nbsp;/&nbsp;{{ environment.statement_total }}</td>
                                <td style="vertical-align: middle;text-align: center;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">{{ environment.branch_hit }}&nbsp;/&nbsp;{{ environment.branch_total }}</td>
                                <td style="vertical-align: middle;text-align: center;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">{{ environment.pairs_hit }}&nbsp;/&nbsp;{{ environment.pairs_total }}</td>
                                <td style="vertical-align: middle;text-align: center;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">{{ environment.function_hit }}&nbsp;/&nbsp;{{ environment.function_total }}</td>
                            </tr>
                            {% else %}
                            <tr>
                                <td style="vertical-align: middle;text-align: left;"><a style="color: #fa1717;" href="{{ environment.relative_url }}">{{ environment.name }}</a></td>
                                <td style="vertical-align: middle;text-align: center;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;color: rgb(247, 8, 8);">{{ environment.testcase_hit }}&nbsp;/&nbsp;{{ environment.testcase_total }}</td>		
                                <td style="vertical-align: middle;text-align: center;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;color: rgb(247, 8, 8);">{{ environment.statement_hit }}&nbsp;/&nbsp;{{ environment.statement_total }}</td>
                                <td style="vertical-align: middle;text-align: center;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;color: rgb(247, 8, 8);">{{ environment.branch_hit }}&nbsp;/&nbsp;{{ environment.branch_total }}</td>
                                <td style="vertical-align: middle;text-align: center;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;color: rgb(247, 8, 8);">{{ environment.pairs_hit }}&nbsp;/&nbsp;{{ environment.pairs_total }}</td>
                                <td style="vertical-align: middle;text-align: center;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;color: rgb(247, 8, 8);">{{ environment.function_hit }}&nbsp;/&nbsp;{{ environment.function_total }}</td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody></table>
                    </ul>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<div>
    {% if is_full_coverage %}
        <b style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;font-size: large;">未覆盖文件</b>
        <table>
            {% for file in no_cover_files_total %}
            <tr>
                <td style="font-size: large;background-color: #f1e7d5;color:tomato;text-align: left;font-family:Verdana, Geneva, Tahoma, sans-serif;">{{ file }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <b style="font-size: large;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;color: red;">本次修改未覆盖文件</b>
        <table>
            {% for file in no_cover_files_changed %}
            <tr>
                <td>{{ file }}</td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}
</div>
</body>
</html>